<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GSSZONE</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="icon" type="icon" href="../static/images/Gzlogo.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body >
  {% load static %}
  <div class="header">
    <div class="div1">
      <div class="nav1">
        <ul class="nav">
          
          <li id="ele"><a href="#"><img src="{% static '/Images/Gzlogo.jpg'%}" alt="logo" width="90px" height="40px"></a></li><hr>
          <li id="ele"><a href="/">Home</a></li>
          <li id="ele"><a href="\shop">Shop</a></li>
          <li id="ele"><a href="#">About Us</a></li>
          <li id="ele"><a href="#section1">Contact Us</a></li>
          <li id="ele"><a href="#">Offers</a></li>
          <li id="ele"><a href="#">Orders</a></li>
          <li id="ele"><a href="#">Account</a></li>
          <li id="ele">
            {% if user.is_authenticated %}
            <a href="\logout">Logout</a>
            {% else %}
            <a href="\login">Login</a>
            {% endif %}
          <li id="ele"><a href="\signup">Sign Up</a></li>
      </ul>
      </div>
       
    </div>
    <div class="search scroll-watcher">
       <input type="search" id="search" placeholder="Type here to search">
       <button id="btn">Search</button>
    </div>
  </div>
  <div class="main">
    <div class='main1'>
      {% if user.is_authenticated%}
        <h2 class="gradient">HELLO {{uname}}</h2> <hr id="hrx">
      {% else %}
        <h2 class="gradient">Welcome to GSSZONE</h2> <hr id="hrx">
      {% endif %}
        <h2 class="gradient1">
          Today Latest deals :
        </h2> 
        <p class="p">

"Discover the latest deals and unbeatable offers across a wide range of categories! From fashion and electronics to home essentials, these limited-time discounts will help you save big on your favorite products. Shop top brands at slashed prices, enjoy bundle deals, and grab exclusive offers before they’re gone. Whether you're looking for tech gadgets, trendy clothing, or home décor, there's something for everyone. Don't miss out—explore our latest deals today and elevate your shopping experience!"
        </p>
    </div>
  <div class='main2'>
    <img id="img1" src="{% static 'Images/dellxps1.jpg' %}" alt="latest deals" width="500px" height="300px">
  </div>   
  </div>
  <br>
  <hr>
<div class="mainn">
      <div class='main3'>
        <img src="{%static 'Images/p3.jpeg'%}" alt="">
        <h3 id="h3">1,25,000/-</h3>
        <h1 id="h1">-25%</h1>
        <h2 id="h2">93,750/-</h2>
      </div>
      <div class='main3'>
        <img src="{% static 'Images/p4.jpeg'%}" alt="">
        <h3 id="h3">1,25,000/-</h3>
        <h1 id="h1">-25%</h1>
        <h2 id="h2">93,750/-</h2>
      </div>
      <div class='main3'>
        <img src="{%static 'Images/p5.jpeg'%}" alt="">
        <h3 id="h3">39,000/-</h3>
        <h1 id="h1">-15%</h1>
        <h2 id="h2">33,150/-</h2>
      </div>
      <div class='main3'>
        <img src="{%static 'Images/p6.jpeg'%}" alt="">
        <h3 id="h3">1,25,000/-</h3>
        <h1 id="h1">-25%</h1>
        <h2 id="h2">93,750/-</h2>
      </div>
      
</div>
<div class="foot">
  <section id="section1">
    <div class="card1">
      <h1 id="h11">Contact:</h1>
      <h3 id="h31"><i class="fa-solid fa-phone"></i><a href="">: 8639050168</a></h3>
      <h3 id="h31"><i class="fa-brands fa-x-twitter"></i><a href="">:gsszone@twitter.com</a></h3>
      <h3 id="h31"><i class="fa-brands fa-instagram insta"></i><a href="">:gsszone@instagram.com</a></h3>
      <h3 id="h31"><i class="fa-brands fa-facebook face"></i><a href="">:gsszone@facebook.com</a></h3>
      <h3 id="h31"><i class="fa-brands fa-linkedin linkedin"></i><a href="">:gsszone@linkedin.com</a></h3>
    </div>
  </section>

    <div class="card1"></div>
    <div class="card1"></div>
    <div class="card1"></div>

</div>
</body>
</html>