<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobiles</title>
    <link rel="icon" href="../static/Images/Gzlogo.jpg" type="icon">
    <link rel="stylesheet" href="../static/css/shop.css" type="text/css">
</head>
<body>
    {% load static%}
    <div>
        <ul>
            <li id="ele"><a href="#"><img src="{% static '/Images/Gzlogo.jpg'%}" alt="logo" width="50px" height="30px"></a></li>
            <li><a href="\">Home</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Help</a></li>

        </ul>
    </div>

    <div class="div2">
       <div class="ht"> <h1 id="h1">Grab Upto 50% Off <br>On Selected Headphone</h1></div>
        <img id="head1" src="{%static 'Images/headset2.jpeg'%}" alt="" width="500px" height="300px">

    </div>
    <div class="small">
        <div class="inner"><h3><a href="\mobiles">Mobiles</a></h3></div>
        <div class="inner"><h3><a href="\televisions">Televisions</a></h3></div>
        <div class="inner"><h3><a href="\laptops">Laptops</a></h3></div>
        <div class="inner"><h3><a href="\tabs">Tabs</a></div>
        <div class="inner"><h3><a href="\headsets">Headsets</a></div>
        <div class="inner"><h3><a href="\watches">Watches</a></div>
        <div class="inner"><h3><a href="\accessories">Accessories</a></div>
       
    </div>

    <div class="main">
            <div class="inner1">
                <img src="{%static 'Images/p2.jpeg'%}" alt="">
            </div>
            <div class="inner1">
                <img src="{%static 'Images/iphone161.jpg'%}" alt="">
            </div>
            <div class="inner1">
                <img src="{%static 'Images/p3.jpeg'%}" alt="">
            </div>
            <div class="inner1">
                <img src="{%static 'Images/p5.jpeg'%}" alt="">
            </div>
    </div>
    <div class="main">
        <div class="inner1">
            <img src="{%static 'Images/dellxps.jpg'%}" alt="">
        </div>
        <div class="inner1">
            <img src="{%static 'Images/dellxps1.jpg'%}" alt="">
        </div>
        <div class="inner1">
            <img src="{%static 'Images/dell1.jpeg'%}" alt="">
        </div>
        <div class="inner1">
            <img src="{%static 'Images/mac.png'%}" alt="">
        </div>
</div>
</body>
</html>