<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="icon" href="../static/Images/Gzlogo.jpg" type="icon">
    <link rel="stylesheet" href="../static/css/shop.css" type="text/css">
</head>
<body>
    {% load static%}
    <div>
        <ul>
            <li id="ele"><a href="#"><img src="{% static '/Images/Gzlogo.jpg'%}" alt="logo" width="50px" height="30px"></a></li>
            <li><a href="\">Home</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Help</a></li>
            <li id="">
                {% if user.is_authenticated %}
                <a href="\logout">Logout</a>
                {% else %}
                <a href="\login">Login</a>
                {% endif %}
              <li id=""><a href="\signup">Sign Up</a></li>

        </ul>
    </div>

    <div class="div2">
        {% if user.is_authenticated%}
        <h1 id="h2">HELLO {{uname}}</h1> 
      {% else %}
        <h1 id="h2">Welcome to GSSZONE</h1> 
      {% endif %}
       <div class="ht"> <h1 id="h1">Grab Upto 50% Off <br>On Selected Headphone</h1></div>
        <img id="head1" src="{%static 'Images/headset2.jpeg'%}" alt="" width="500px" height="300px">

    </div>
    <div class="small">
        <div class="inner"><h3><a href="\mobiles">Mobiles</a></h3></div>
        <div class="inner"><h3><a href="\televisions">Televisions</a></h3></div>
        <div class="inner"><h3><a href="\laptops">Laptops</a></h3></div>
        <div class="inner"><h3><a href="\tabs">Tabs</a></div>
        <div class="inner"><h3><a href="\headsets">Headsets</a></div>
        <div class="inner"><h3><a href="\watches">Watches</a></div>
        <div class="inner"><h3><a href="\accessories">Accessories</a></div>
       
    </div>
                        {% for product in products%}
                       
                        <div class="inner1">
                            <div class="inner2">
                                <a href="#"><img src="{{product.product_i.url}}" alt=""></a>
                            </div>
                               <div class="inner3">
                                <h2>{{product.product_t}}</h2>
                                <p>300+ bought in past month
                                    
                                    <h1 id="h11">₹{{product.product_d}}<h3>M.R.P:₹{{product.product_p}}(19% off)</h3> </h1>
                                    10% Off on Select Bank Cards
                                </p>
                                    <button type="submit" id="btn1" onclick="addToCart()">Add to cart</button><br>
                                    <button type="submit" id="btn2" onclick="buyNow()">Buy</button>
                               </div> 
                            </div>
                

                        {% endfor %}
<script>
    function addToCart(){
        alert("Added to cart");
    }

    function buyNow(){
        window.location.href="{% url 'buy' %}";
    }
    
</script>
                        
</div>
</body>
</html>