.main{
    margin-left:520px;
    margin-top:90px;  
    background:rgb(242, 242, 244);
    width:480px;
    border-radius: 20px;
    height:600px;
    box-shadow: 0px 0px 10px black;
}
.main>h1{
    padding:20px;
    text-align: center;

}
.main1{
    margin-left:32px;
    margin-top:-15px;
    width:420px;
    height:480px;
    border-radius: 15px;
   
    
}
.main1>input{
    width: 400px;
    height: 38px;
    border-radius:17px;
    margin-top:5px;
    margin-left:8px;
    color: rgb(9, 8, 9);
    box-shadow: 0px 0px 2px black;
}
.main1>input:hover{
    box-shadow: 0px 0px 7px black;
}
.main1>textarea{
    width:400px;
    margin-top:5px;
    height:70px;
    border-radius: 10px;
    margin-left:8px;
    box-shadow: 0px 0px 2px black;
}
.main1>button{
    width:120px;
    height:40px;
    margin-top: 15px;
    margin-left:145px;
    font-size:16.5px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 7px;
    background-color: rgb(116, 120, 120);
    color: white;
    box-shadow:0px 0px 1px black
}
.main1>button:hover{
    background: black;
    color: white;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px gray;
}

.body{
    background:url(../Images/background1.jpeg);
    background-size: cover;
}
#image{
    box-shadow:none;
    border-radius: none;
}
#image[type=file]{
    padding:6px;

}
#date{
    margin-top:-2px;
}
.upload::-webkit-file-upload-button{
    background:rgb(93, 105, 105);
    margin-left:0px;
    width:120px;
    height:30px;
    border-radius: 7px;
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.upload::-webkit-file-upload-button:hover{
    background:rgb(7, 7, 7);
    width:125px;
    transition-duration: 0.5s;
}
