.form1{
    margin:100px 0px 0px 500px;
    width:650px;
    height:400px;
    border-radius:10px;
}

.uname{
    border-radius: 20px;
    padding:10px;
    margin-left:300px;
}
#uname{
    width:250px;
}
#pwd{
    width:250px;
}
h1{
    margin-left:330px;
}
.a{
    margin-left:480px;
}