.div2{
    width:1450px;
    height:400px;
    background:linear-gradient(to right,rgb(102, 221, 232),gray);
    border-radius:20px;
    margin-left:30px;
    box-shadow: 0px 0px 20px gray;
}

body{
   background:linear-gradient(to left,rgb(239, 236, 236),rgb(218, 228, 228));
}
ul{
    background:white;
    display:flex;
    height:45px;
    margin-top:-10px;
    margin-left:-10px;
    margin-right:-10px;
    gap:50px;
    list-style-type: none;
}
li{
    margin-top:12px;
}
li>a{
    text-decoration:none;
    color:black;
    font-size:16px;
    font-weight:bold;
}
li>a:hover{
    font-size:17px;
    text-shadow:1px 1px 1px black;
}

#ele{
    margin-top:5px;
    margin-bottom:5px;
    box-shadow:0px 0px 10px black;
}
#h1{
    margin-left:100px;
    background-image:linear-gradient(to right, red,blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding:60px;
}
.main{
      
}
.inner1{
    width:px;
    height:autopx;
    border-radius:20px;
    background:linear-gradient(to bottom,rgb(229, 232, 233),rgb(228, 218, 218));
    box-shadow: 0px 0px 10px gray;
    display: flex;
    margin-top: 20px;
}
.small{
    display: flex;
    gap:20px;
    padding:20px;
}
.small>.inner{
    width:200px;
    height:50px;
    background:linear-gradient(to bottom,rgb(100, 95, 95),rgb(183, 175, 175));
    border-radius:15px;
    box-shadow: 0px 0px 5px gray;
}
.small>.inner:hover{
    box-shadow:0px 0px 10px black;
}
.small>.inner>h3{
     text-align: center;
   

}
.small>.inner>h3>a{
    text-decoration:none;
    background-image: linear-gradient(to right,rgb(20, 12, 12),rgb(21, 91, 105));
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}
.small>.inner>h3:hover{
    text-shadow: 1px 1px 1px black;
}
#head1{
    margin-top:-230px;
    margin-left:900px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}

.inner1:hover{
    box-shadow:0px 0px 10px black;
}
.ht{
    width:auto;
    height:auto;

}

.inner3>#btn1{
    background:rgb(105, 194, 206);
    color:black;
    margin-left:0px;
    margin-top:5px;
    width:120px;
    height: 35px;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;

}
.inner3>#btn2{
    background: rgb(111, 117, 116);
    margin-left:0px;
    margin-top:5px;
    width:80px;
    height:35px;
    border-radius:8px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}
.inner3>#btn1:hover{
    background:black;
    color: white;
    box-shadow: 0px 0px 10px black;
}
.inner3>#btn2:hover{
    background:rgb(71, 65, 65);
    color:rgb(242, 236, 236);
    box-shadow: 0px 0px 10px black;
}
.inner3{
    margin-left:50px;
    padding: 30px;

}
.inner2>a>img{
    padding: 0px;
    height: 100%;
    width:300px;
    border-radius: 20px;
}
.inner3>#h11{
    color:black;
}
.div2>#h2{
    background-image:linear-gradient(to right, rgb(20, 23, 25),rgb(145, 15, 43),blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding:10px;
    margin-left:80px;
    font-size: 40px;;
}